<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>

    <form method="post"  action="/">
      <div>username: <input type="text" name="name"/></div>
      <div>password: <input type="text" name="password"/></div>
      <div><input type="submit" value="login"/></div>
    </form>

  </body>
</html>
